<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Sign up</h1>
      <%= form_for @user, class: "my-form" do |form| %>
        <div class="form-group">
          <%= form.label :name, class: 'required' %>
          <%= form.text_field :name, class: "form-control", placeholder: "Enter Your Name" , required: true%>
          <p class='error'><%= show_errors(@user, :name) %></p>

        </div>
        <div class="form-group">
          <%= form.label :email, class: 'required' %>
          <%= form.email_field :email, class: "form-control", placeholder: "Enter Your Email", required: true%>
                    <p class='error'><%= show_errors(@user, :email) %></p>

        </div>
        <div class="form-group">
          <%= form.label :password, class: 'required' %>
          <%= form.password_field :password, class: "form-control", placeholder: "Enter Your Password", required: true%>
                    <p class='error'><%= show_errors(@user, :password) %></p>

        </div>
        <div class="form-group">
          <%= form.label :password_confirmation, class: 'required' %>
          <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Your Password", required: true%>
                    <p class='error'><%= show_errors(@user, :password_confirmation) %></p>

        </div>
        <%= link_to "Already an user? Login", new_session_path %>
        <%= form.submit "Sign Up", class: " mt-3 button-design form-control" %>
      <% end %>
    </div>
  </div>
</div>